{<<"name">>,<<"shards">>}.
{<<"version">>,<<"0.6.0">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"shards">>}.
{<<"maintainers">>,[<<"Carlos A Bolanos">>]}.
{<<"precompiled">>,false}.
{<<"description">>,<<"Sharding support for ETS tables out-of-box">>}.
{<<"files">>,
 [<<"src/shards.app.src">>,<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/shards.erl">>,<<"src/shards_app.erl">>,
  <<"src/shards_dist.erl">>,<<"src/shards_lib.erl">>,
  <<"src/shards_local.erl">>,<<"src/shards_owner.erl">>,
  <<"src/shards_owner_sup.erl">>,<<"src/shards_state.erl">>,
  <<"src/shards_sup.erl">>,<<"src/shards_task.erl">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/cabol/shards">>},
  {<<"Getting Started">>,
   <<"https://github.com/cabol/shards/blob/master/guides/getting-started.md">>},
  {<<"Blog Post">>,
   <<"http://cabol.github.io/posts/2016/04/14/sharding-support-for-ets.html">>}]}.
{<<"build_tools">>,[<<"rebar3">>,<<"make">>]}.
